* {
  padding: 0;
  margin: 0;
}

.container {
  /* border: 1px solid red; */
  width: 50%;
  text-align: center;
  margin: 180px auto 0 auto;
}
.container h1 {
  font-size: 40px;
  margin-bottom: 40px;
  text-shadow: 2px 2px 4px grey;
}
#color_code {
  /* border: 1px solid black; */
  padding: 20px;
  font-size: 50px;
  /* width: 57%; */
  /* margin: auto; */
  box-shadow: 2px 2px 4px rgb(255, 255, 255), -2px -2px 3px rgb(255, 255, 255);
}
.btn {
  padding: 10px 40px;
  font-size: 2.5rem;
  margin: 0 10px;
  margin-top: 30px;
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgb(238, 238, 238), -2px -2px 3px rgb(245, 244, 244);
}

@media screen and (max-width: 950px) {
  .container {
    width: 80%;
    margin: 150px auto 0 auto;
  }
  .container h1 {
    font-size: 30px;
    margin-bottom: 50px;
  }
  #color_code {
    padding: 10px 15px;
    font-size: 40px;
  }
  .btn {
    padding: 10px 30px;
    font-size: 1.5rem;
  }
}
